* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

//variables
$main-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$typed-font-family: Consolas, monaco, monospace;
$very-dark: #1e1e1e;
$darkest-bg: #272727;
$darker-bg: #383838;
$dark-bg: #404041;
$lighter-bg: #707070;
$green: #4ad295;
$red: #ff5d6a;

//mixins
@mixin for-tablet-and-below {
  @media (max-width: 1065px) {
    @content;
  }
}

@mixin for-desktop {
  @media (min-width: 1066px) {
    @content;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: $green;
  }
}

body {
  background-color: $darkest-bg;
}

#toggle-menu {
  position: fixed;
  margin-left: 0vw;
  z-index: 3;
  visibility: hidden;
  &:checked {
    ~ #main-menu {
      transform: translateX(0);
    }
    ~ label {
      transform: translateX(163px);
      .hamburger-icon {
        transform: rotate(135deg);
        &::after,
        &::before {
          top: 0;
          transform: rotate(90deg);
        }
      }
    }
  }
}

.menu-label {
  margin-top: 1vh;
  position: fixed;
  margin-left: 1vw;
  z-index: 3;
  transition: transform ease-in 0.25s;
  height: 60px;
  width: 60px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #27272763;
  @include for-desktop {
    display: none;
  }
  .hamburger-icon {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: $green;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    z-index: 4;
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: -10px;
      background: inherit;
      width: 100%;
      height: 2px;
      z-index: 4;
    }
    &::after {
      top: 10px;
    }
  }
}

.button {
  font-family: $main-font-family;
  margin-right: 20px;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 3px;
  transition: all 0.2s ease;
  &:hover {
    background-color: $dark-bg;
    box-shadow: 0px 0px 10px $green;
    a {
      color: white;
    }
  }
  &:active {
    transform: translateY(3px);
    box-shadow: none;
  }
  a {
    width: 100%;
    text-decoration: none;
  }
}

.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 15vw;
  min-width: 160px;
  background-color: $darkest-bg;
  z-index: 3;
  transition: transform ease-in 0.25s;
  font-family: $main-font-family;
  @include for-tablet-and-below {
    transform: translateX(-160px);
  }
  .face-container {
    background-color: $darker-bg;
    margin: 0;
    width: 100%;
    padding: 10px;
    .my-face {
      display: block;
      width: 200px;
      min-width: 100px;
      max-width: 50%;
      border-radius: 50rem;
      margin: 20px auto;
    }
  }

  .menu-items {
    width: 100%;
    padding: none;
    height: 100%;
    background-color: $dark-bg;
    .list-item {
      position: relative;
      list-style: none;
      max-width: 100%;
      padding-right: 10px;
      background: linear-gradient(to right, $lighter-bg 50%, $dark-bg 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: all 0.4s ease;
      a {
        padding: 10px 0;
        width: 100%;
        color: white;
        text-decoration: none;
        font-size: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        .center-item {
          width: 115px;
          svg {
            margin-right: 10px;
            fill: white;
            height: 20px;
            width: auto;
          }
        }
      }
      &:hover {
        background-position: left top;
        border-right: 5px solid $green;
        svg {
          fill: $green;
        }
        a {
          color: $green;
        }
      }
    }
  }
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  @include for-desktop {
    align-items: flex-end;
  }
  .content-section {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: fit-content;
    width: 84vw;
    color: white;
    @include for-tablet-and-below {
      width: 100%;
    }
  }

  #home {
    display: flex;
    justify-content: center;
    .hero-section {
      align-self: center;
      z-index: 1;
      .content-header {
        font-size: 30px;
        font-family: $main-font-family;
        font-weight: 500;
      }
      #typed-text {
        margin-top: 10px;
        width: fit-content;
        display: inline-block;
        font-family: $typed-font-family;
        .sub-header-text {
          display: inline-block;
          overflow: hidden;
          letter-spacing: 2px;
          animation: typing 3.5s steps(13, end), blink 0.75s step-end infinite;
          white-space: nowrap;
          font-size: 40px;
          font-weight: 700;
          border-right: 4px solid orange;
          box-sizing: border-box;
        }
      }
      .button-row {
        margin-top: 20px;
        display: flex;
        .green-button {
          background-color: $green;
          a {
            color: $very-dark;
          }
        }
        .dark-button {
          background-color: $darker-bg;
          a {
            color: $green;
          }
        }
      }
    }
    .home-image-container {
      content: '';
      width: 84vw;
      background-image: url(./images/code-cropped.png);
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0;
      right: 0;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      z-index: -1;
      filter: blur(4px);
    }
  }

  #about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .top-section {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
      .left-section {
        max-width: 460px;
        padding: 20px;
        border-radius: 5px;
        margin: 20px;
        img {
          max-width: 100%;
        }
      }
      .right-section {
        background-color: $darker-bg;
        border-radius: 5px;
        padding: 10px;
        width: fit-content;
        max-width: 900px;
        margin: 20px;
        .about-header {
          font-family: $main-font-family;
          font-size: 30px;
          color: $green;
          margin: 10px;
        }
        .about-paragraph {
          font-family: $main-font-family;
          font-size: 20px;
          margin: 10px;
        }
        .skills-section {
          display: flex;
          flex-direction: column;
          .experience-title {
            font-family: $main-font-family;
            font-size: 20px;
            margin: 10px;
            color: $green;
          }
          .list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 10px;
            .experience-item {
              font-family: $main-font-family;
              font-size: 20px;
              margin-right: 10px;
            }
          }
        }
      }
    }
    .bottom-section {
      margin: 20px 30px;
      max-width: 100%;
      .chart-section {
        background-color: $darker-bg;
        display: flex;
        flex-direction: row;
        padding: 20px;
        margin: 10px;
        border-radius: 5px;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .chart-container {
          width: 450px;
          display: flex;
          flex-direction: column;
          align-items: center;
          flex-wrap: wrap;
          p {
            font-size: 20px;
            font-family: $main-font-family;
            margin-bottom: 20px;
            border-bottom: 2px solid $green;
          }
          canvas {
            max-width: 100%;
          }
        }
      }
    }
  }

  #projects {
    background-color: $very-dark;
    display: flex;
    justify-content: center;
    .projects-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      height: fit-content;
      .featured-project {
        height: fit-content;
        min-width: fit-content;
        width: fit-content;
        background-color: $darkest-bg;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-self: center;
        margin: 20px;
        border-radius: 5px;
        .featured-project-header {
          font-family: $main-font-family;
          font-size: 25px;
          margin-bottom: 20px;
          display: flex;
          flex-direction: row;
          div {
            margin-left: 10px;
            color: $green;
          }
        }
        .image-container {
          max-width: 600px;
          img {
            max-width: 100%;
          }
        }
        .link-section {
          margin-top: 20px;
          display: flex;
          flex-direction: row;
          width: 100%;
          div {
            border: 2px solid $green;
            border-radius: 5px;
            padding: 5px 10px;
            margin-right: 20px;
            transition: all 0.4s ease;
            a {
              font-family: $main-font-family;
              color: $green;
              text-decoration: none;
              font-size: 20px;
            }
            &:hover {
              background-color: $dark-bg;
              box-shadow: 0px 0px 10px $green;
              border: 2px solid $dark-bg;
              a {
                color: white;
              }
            }
            &:active {
              transform: translateY(3px);
              box-shadow: none;
            }
          }
        }
        .tech-list-header {
          font-family: $main-font-family;
          font-size: 20px;
          margin-top: 20px;
        }
        .technology-list {
          display: flex;
          flex-direction: row;
          margin-top: 20px;
          .tech-item {
            font-family: $main-font-family;
            font-size: 20px;
            margin-right: 20px;
          }
        }
      }
      .right-project-container {
        display: flex;
        flex-direction: column;
        min-width: fit-content;
        width: 45%;
        max-height: 100%;
        .single-project {
          height: 30%;
          width: fit-content;
          margin: 20px;
          background-color: $darker-bg;
          padding: 20px;
          border-radius: 3px;
          display: flex;
          flex-direction: row;
          align-items: center;
          flex-wrap: wrap;
          justify-content: center;
          .image-container {
            margin-right: 20px;
            img {
              max-width: 250px;
            }
          }
          .description-container {
            display: flex;
            flex-direction: column;
            .project-header {
              font-size: 20px;
              display: flex;
              flex-direction: row;
              font-family: $main-font-family;
              margin-bottom: 10px;
              .project-title {
                margin-left: 5px;
                color: $green;
              }
            }
            .project-buttons {
              display: flex;
              flex-direction: row;
              margin-bottom: 10px;
              div {
                border: 2px solid $green;
                border-radius: 5px;
                padding: 5px 10px;
                margin-right: 20px;
                transition: all 0.4s ease;
                a {
                  font-family: $main-font-family;
                  color: $green;
                  text-decoration: none;
                }
                &:hover {
                  background-color: $dark-bg;
                  box-shadow: 0px 0px 10px $green;
                  border: 2px solid $dark-bg;
                  a {
                    color: white;
                  }
                }
                &:active {
                  transform: translateY(3px);
                  box-shadow: none;
                }
              }
            }
            .technology-header {
              font-family: $main-font-family;
              margin-bottom: 5px;
            }
            .technology-list {
              font-family: $main-font-family;
              display: flex;
              flex-direction: row;
              div {
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }

  #blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    .card-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      height: 570px;
      .blog-card {
        max-width: 400px;
        background-color: $dark-bg;
        padding: 20px;
        height: 550px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        transition: all 0.5s ease;
        &:hover {
          height: 570px;
        }
        .blog-card-image {
          img {
            max-width: 100%;
          }
        }
        .blog-content {
          display: flex;
          flex-direction: column;
          .header-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 10px 0;
            align-items: center;
            .blog-header {
              color: $green;
            }
          }
          .tag-row {
            list-style: none;
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;
            .tag-item {
              margin-right: 10px;
              text-decoration: $green underline;
              font-size: 18px;
            }
          }
          .blog-text {
            display: flex;
            flex-direction: column;
            transition: all 0.5s ease;
            .paragraph-text {
              margin-bottom: 10px;
            }
            .read-more-container {
              width: fit-content;
              border: 0px solid $green;
              transition: all 0.5s ease;
              a {
                font-size: 20px;
                color: $green;
                text-decoration: none;
                transition: all 0.5s ease;
                width: fit-content;
              }
              &:hover {
                border-bottom: 1px solid $green;
                a {
                  color: white;
                }
              }
            }
          }
        }
      }
    }
    .button {
      align-self: center;
      width: fit-content;
      margin: 40px 20px 20px;
      border: 1px solid $green;
      border-radius: 5px;
      a {
        color: $green;
      }
    }
  }

  #contact {
    background-color: $very-dark;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .form {
      display: flex;
      flex-direction: column;
      width: 600px;
      .input-container {
        margin: 20px 0;
        position: relative;
        box-sizing: border-box;
        height: 45px;
        width: 100%;
        .single-line-item {
          background: none;
          outline: none;
          height: 100%;
          width: 100%;
          padding: 0 10px;
          font-size: 17px;
          border: none;
          border-bottom: 1px solid gray;
          color: $green;
          &:focus,
          &:valid {
            border-bottom: 1px solid $green;
            ~ .input-label {
              font-size: 15px;
              transform: translateY(-30px);
            }
          }
        }
        .input-label {
          position: absolute;
          font-size: 17px;
          color: $green;
          font-family: $main-font-family;
          top: 15px;
          left: 10px;
          transition: all 0.5s ease;
        }
      }
      .paragraph-container {
        position: relative;
        width: 100%;
        textarea {
          position: relative;
          margin-top: 20px;
          padding: 10px;
          background: none;
          border: 1px solid gray;
          border-radius: 5px;
          outline: none;
          color: $green;
          font-size: 17px;
          width: 100%;
          &:focus,
          &:valid {
            border: 1px solid $green;
            ~ label {
              display: none;
              transform: translateY(-40px);
              font-size: 15px;
            }
          }
        }
        label {
          position: absolute;
          font-size: 17px;
          color: $green;
          font-family: $main-font-family;
          top: 25px;
          left: 10px;
          transition: all 0.5s ease;
        }
      }
      .form-button {
        color: $green;
        align-self: flex-end;
        justify-self: flex-end;
        border: 1px solid $green;
        margin: 10px 0;
      }
    }
  }
}
