* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

//variables
$main-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$typed-font-family: Consolas, monaco, monospace;
$very-dark: #1e1e1e;
$darkest-bg: #272727;
$darker-bg: #383838;
$dark-bg: #404041;
$lighter-bg: #707070;
$green: #4ad295;
$red: #ff5d6a;
//mixins
@mixin for-tablet-and-below {
  @media (max-width: 1065px) {
    @content;
  }
}

@mixin for-desktop {
  @media (min-width: 1066px) {
    @content;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: $green;
  }
}

body {
  background-color: $darkest-bg;
}

#toggle-menu {
  position: fixed;
  margin-left: 0vw;
  z-index: 3;
  visibility: hidden;
  &:checked {
    ~ #main-menu {
      color: blue;
      transform: translateX(0);
    }
    ~ label {
      transform: translateX(163px);
      .hamburger-icon {
        transform: rotate(135deg);
        &::after,
        &::before {
          top: 0;
          transform: rotate(90deg);
        }
      }
    }
  }
}

label {
  margin-top: 1vh;
  position: fixed;
  margin-left: 1vw;
  z-index: 3;
  transition: transform ease-in 0.25s;
  height: 60px;
  width: 60px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #27272763;
  @include for-desktop {
    display: none;
  }
  .hamburger-icon {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: $green;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    z-index: 4;
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: -10px;
      background: inherit;
      width: 100%;
      height: 2px;
      z-index: 4;
    }
    &::after {
      top: 10px;
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 15vw;
  min-width: 160px;
  background-color: $darkest-bg;
  z-index: 1;
  transition: transform ease-in 0.25s;
  font-family: $main-font-family;
  @include for-tablet-and-below {
    transform: translateX(-160px);
  }
  .face-container {
    background-color: $darker-bg;
    margin: 0;
    width: 100%;
    padding: 10px;
    .my-face {
      display: block;
      width: 200px;
      min-width: 100px;
      max-width: 50%;
      border-radius: 50rem;
      margin: 20px auto;
    }
  }

  .menu-items {
    width: 100%;
    padding: none;
    height: 100%;
    background-color: $dark-bg;
    .list-item {
      padding: 10px 0;
      position: relative;
      list-style: none;
      max-width: 100%;
      padding-right: 10px;
      background: linear-gradient(to right, $lighter-bg 50%, $dark-bg 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: all 0.4s ease;
      a {
        width: 100%;
        margin-left: 10px;
        color: white;
        text-decoration: none;
        font-size: 22px;
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: 1.3rem;
        svg {
          margin-right: 10px;
          fill: white;
          height: 20px;
          width: auto;
        }
      }
      &:hover {
        background-position: left top;
        border-right: 5px solid $green;
        svg {
          fill: $green;
        }
        a {
          color: $green;
        }
      }
    }
  }
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  @include for-desktop {
    align-items: flex-end;
  }
  .content-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    color: white;
    @include for-desktop {
      width: 84vw;
    }
  }
  #home {
    justify-content: center;
    .hero-section {
      align-self: center;
      .content-header {
        font-size: 30px;
        font-family: $main-font-family;
        font-weight: 500;
      }
      #typed-text {
        margin-top: 10px;
        width: fit-content;
        display: inline-block;
        font-family: $typed-font-family;
        .sub-header-text {
          display: inline-block;
          overflow: hidden;
          letter-spacing: 2px;
          animation: typing 3.5s steps(13, end), blink 0.75s step-end infinite;
          white-space: nowrap;
          font-size: 40px;
          font-weight: 700;
          border-right: 4px solid orange;
          box-sizing: border-box;
        }
      }
      .button-row {
        margin-top: 20px;
        display: flex;
        .button {
          font-family: $main-font-family;
          margin-right: 20px;
          padding: 10px 20px;
          font-size: 20px;
          border-radius: 3px;
          transition: all 0.2s ease;
          &:hover {
            background-color: $dark-bg;
            box-shadow: 0px 0px 10px $green;
            a {
              color: white;
            }
          }
          &:active {
            transform: translateY(3px);
            box-shadow: none;
          }
          a {
            width: 100%;
            text-decoration: none;
          }
        }
        .green-button {
          background-color: $green;
          a {
            color: $very-dark;
          }
        }
        .dark-button {
          background-color: $darker-bg;
          a {
            color: $green;
          }
        }
      }
    }
    .home-image-container {
      width: 84vw;
      background-color: $very-dark;
      position: absolute;
      z-index: -1;
      img {
        filter: blur(4px);
      }
    }
  }
  #about {
    display: flex;
    flex-direction: row;
    max-width: 84vw;
    .image-container {
      align-self: center;
      background-color: $darker-bg;
      margin-left: 30px;
      border-radius: 5px;
      padding: 30px;
      img {
        max-width: 350px;
      }
    }
    .right-section {
      background-color: $darker-bg;
      margin: 30px;
      border-radius: 5px;
      padding: 20px;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      height: fit-content;
      align-self: center;
      .about-header {
        margin-left: 20px;
        color: $green;
        font-size: 30px;
        font-family: $main-font-family;
      }
      .about-paragraph {
        border-radius: 5px;
        margin: 20px;
        background-color: $darker-bg;
        padding: 20px;
        font-family: $main-font-family;
        font-size: 20px;
      }
      .skills-section {
        background-color: $dark-bg;
        margin: 0 20px;
        border-radius: 5px;
        .experience-title {
          margin: 20px;
          font-family: $main-font-family;
          font-size: 20px;
          color: $green;
        }
        .list {
          margin: 20px;
          display: flex;
          flex-direction: row;
          .experience-item {
            font-family: $main-font-family;
            font-size: 20px;
            margin-right: 10px;
          }
        }
      }
      .chart-section {
        margin: 20px 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .chart-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          p {
            font-family: $main-font-family;
            font-size: 20px;
            margin: 20px;
          }
          canvas {
            max-width: 350px;
          }
        }
      }
    }
  }
  #projects {
    background-color: $very-dark;
    display: flex;
    flex-direction: row;
    width: 84vw;
    .featured-project {
      height: fit-content;
      width: 50%;
      background-color: $darkest-bg;
      padding: 40px;
      display: flex;
      flex-direction: column;
      align-self: center;
      margin: 20px;
      border-radius: 5px;
      .featured-project-header {
        font-family: $main-font-family;
        font-size: 25px;
        margin-bottom: 20px;
      }
      .image-container {
        img {
          width: 100%;
        }
      }
      .link-section {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        width: 100%;
        div {
          border: 2px solid $green;
          border-radius: 5px;
          padding: 5px 10px;
          margin-right: 20px;
          transition: all 0.4s ease;
          a {
            font-family: $main-font-family;
            color: $green;
            text-decoration: none;
            font-size: 20px;
          }
          &:hover {
            background-color: $dark-bg;
            box-shadow: 0px 0px 10px $green;
            border: 2px solid $dark-bg;
            a {
              color: white;
            }
          }
          &:active {
            transform: translateY(3px);
            box-shadow: none;
          }
        }
      }
      .tech-list-header {
        font-family: $main-font-family;
        font-size: 20px;
        margin-top: 20px;
      }
      .technology-list {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        .tech-item {
          font-family: $main-font-family;
          font-size: 20px;
          margin-right: 20px;
        }
      }
    }
  }
  #blog {
    background-color: $darkest-bg;
  }
  #contact {
    background-color: $very-dark;
  }
}
