* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #4ad295;
  }
}
body {
  background-color: #272727;
}

#toggle-menu {
  position: fixed;
  margin-left: 0vw;
  z-index: 3;
  visibility: hidden;
}
#toggle-menu:checked ~ #main-menu {
  transform: translateX(0);
}
#toggle-menu:checked ~ label {
  transform: translateX(163px);
}
#toggle-menu:checked ~ label .hamburger-icon {
  transform: rotate(135deg);
}
#toggle-menu:checked ~ label .hamburger-icon::after, #toggle-menu:checked ~ label .hamburger-icon::before {
  top: 0;
  transform: rotate(90deg);
}

label {
  margin-top: 1vh;
  position: fixed;
  margin-left: 1vw;
  z-index: 3;
  transition: transform ease-in 0.25s;
  height: 60px;
  width: 60px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #27272763;
}
@media (min-width: 1066px) {
  label {
    display: none;
  }
}
label .hamburger-icon {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #4ad295;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  z-index: 4;
}
label .hamburger-icon::before, label .hamburger-icon::after {
  content: "";
  position: absolute;
  top: -10px;
  background: inherit;
  width: 100%;
  height: 2px;
  z-index: 4;
}
label .hamburger-icon::after {
  top: 10px;
}

.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 15vw;
  min-width: 160px;
  background-color: #272727;
  z-index: 3;
  transition: transform ease-in 0.25s;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@media (max-width: 1065px) {
  .menu {
    transform: translateX(-160px);
  }
}
.menu .face-container {
  background-color: #383838;
  margin: 0;
  width: 100%;
  padding: 10px;
}
.menu .face-container .my-face {
  display: block;
  width: 200px;
  min-width: 100px;
  max-width: 50%;
  border-radius: 50rem;
  margin: 20px auto;
}
.menu .menu-items {
  width: 100%;
  padding: none;
  height: 100%;
  background-color: #404041;
}
.menu .menu-items .list-item {
  position: relative;
  list-style: none;
  max-width: 100%;
  padding-right: 10px;
  background: linear-gradient(to right, #707070 50%, #404041 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.4s ease;
}
.menu .menu-items .list-item a {
  padding: 10px 0;
  width: 100%;
  color: white;
  text-decoration: none;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .menu-items .list-item a .center-item {
  width: 115px;
}
.menu .menu-items .list-item a .center-item svg {
  margin-right: 10px;
  fill: white;
  height: 20px;
  width: auto;
}
.menu .menu-items .list-item:hover {
  background-position: left top;
  border-right: 5px solid #4ad295;
}
.menu .menu-items .list-item:hover svg {
  fill: #4ad295;
}
.menu .menu-items .list-item:hover a {
  color: #4ad295;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1066px) {
  .content {
    align-items: flex-end;
  }
}
.content .content-section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: fit-content;
  width: 84vw;
  color: white;
}
@media (max-width: 1065px) {
  .content .content-section {
    width: 100%;
  }
}
.content #home {
  display: flex;
  justify-content: center;
}
.content #home .hero-section {
  align-self: center;
  z-index: 1;
}
.content #home .hero-section .content-header {
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}
.content #home .hero-section #typed-text {
  margin-top: 10px;
  width: fit-content;
  display: inline-block;
  font-family: Consolas, monaco, monospace;
}
.content #home .hero-section #typed-text .sub-header-text {
  display: inline-block;
  overflow: hidden;
  letter-spacing: 2px;
  animation: typing 3.5s steps(13, end), blink 0.75s step-end infinite;
  white-space: nowrap;
  font-size: 40px;
  font-weight: 700;
  border-right: 4px solid orange;
  box-sizing: border-box;
}
.content #home .hero-section .button-row {
  margin-top: 20px;
  display: flex;
}
.content #home .hero-section .button-row .button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-right: 20px;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 3px;
  transition: all 0.2s ease;
}
.content #home .hero-section .button-row .button:hover {
  background-color: #404041;
  box-shadow: 0px 0px 10px #4ad295;
}
.content #home .hero-section .button-row .button:hover a {
  color: white;
}
.content #home .hero-section .button-row .button:active {
  transform: translateY(3px);
  box-shadow: none;
}
.content #home .hero-section .button-row .button a {
  width: 100%;
  text-decoration: none;
}
.content #home .hero-section .button-row .green-button {
  background-color: #4ad295;
}
.content #home .hero-section .button-row .green-button a {
  color: #1e1e1e;
}
.content #home .hero-section .button-row .dark-button {
  background-color: #383838;
}
.content #home .hero-section .button-row .dark-button a {
  color: #4ad295;
}
.content #home .home-image-container {
  content: "";
  width: 84vw;
  background-image: url(./images/code-cropped.png);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
  filter: blur(4px);
}
.content #about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content #about .top-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.content #about .top-section .left-section {
  max-width: 460px;
  padding: 20px;
  border-radius: 5px;
  margin: 20px;
}
.content #about .top-section .left-section img {
  max-width: 100%;
}
.content #about .top-section .right-section {
  background-color: #383838;
  border-radius: 5px;
  padding: 10px;
  width: fit-content;
  max-width: 900px;
  margin: 20px;
}
.content #about .top-section .right-section .about-header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  color: #4ad295;
  margin: 10px;
}
.content #about .top-section .right-section .about-paragraph {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin: 10px;
}
.content #about .top-section .right-section .skills-section {
  display: flex;
  flex-direction: column;
}
.content #about .top-section .right-section .skills-section .experience-title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin: 10px;
  color: #4ad295;
}
.content #about .top-section .right-section .skills-section .list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
}
.content #about .top-section .right-section .skills-section .list .experience-item {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin-right: 10px;
}
.content #about .bottom-section {
  margin: 20px 30px;
  max-width: 100%;
}
.content #about .bottom-section .chart-section {
  background-color: #383838;
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.content #about .bottom-section .chart-section .chart-container {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.content #about .bottom-section .chart-section .chart-container p {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
  border-bottom: 2px solid #4ad295;
}
.content #about .bottom-section .chart-section .chart-container canvas {
  max-width: 100%;
}
.content #projects {
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
}
.content #projects .projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: fit-content;
}
.content #projects .projects-container .featured-project {
  height: fit-content;
  min-width: fit-content;
  width: fit-content;
  background-color: #272727;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 20px;
  border-radius: 5px;
}
.content #projects .projects-container .featured-project .featured-project-header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}
.content #projects .projects-container .featured-project .featured-project-header div {
  margin-left: 10px;
  color: #4ad295;
}
.content #projects .projects-container .featured-project .image-container {
  max-width: 600px;
}
.content #projects .projects-container .featured-project .image-container img {
  max-width: 100%;
}
.content #projects .projects-container .featured-project .link-section {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.content #projects .projects-container .featured-project .link-section div {
  border: 2px solid #4ad295;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 20px;
  transition: all 0.4s ease;
}
.content #projects .projects-container .featured-project .link-section div a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #4ad295;
  text-decoration: none;
  font-size: 20px;
}
.content #projects .projects-container .featured-project .link-section div:hover {
  background-color: #404041;
  box-shadow: 0px 0px 10px #4ad295;
  border: 2px solid #404041;
}
.content #projects .projects-container .featured-project .link-section div:hover a {
  color: white;
}
.content #projects .projects-container .featured-project .link-section div:active {
  transform: translateY(3px);
  box-shadow: none;
}
.content #projects .projects-container .featured-project .tech-list-header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin-top: 20px;
}
.content #projects .projects-container .featured-project .technology-list {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.content #projects .projects-container .featured-project .technology-list .tech-item {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin-right: 20px;
}
.content #projects .projects-container .right-project-container {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  width: 45%;
  max-height: 100%;
}
.content #projects .projects-container .right-project-container .single-project {
  height: 30%;
  width: fit-content;
  margin: 20px;
  background-color: #383838;
  padding: 20px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.content #projects .projects-container .right-project-container .single-project .image-container {
  margin-right: 20px;
}
.content #projects .projects-container .right-project-container .single-project .image-container img {
  max-width: 250px;
}
.content #projects .projects-container .right-project-container .single-project .description-container {
  display: flex;
  flex-direction: column;
}
.content #projects .projects-container .right-project-container .single-project .description-container .project-header {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
}
.content #projects .projects-container .right-project-container .single-project .description-container .project-header .project-title {
  margin-left: 5px;
  color: #4ad295;
}
.content #projects .projects-container .right-project-container .single-project .description-container .project-buttons {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.content #projects .projects-container .right-project-container .single-project .description-container .project-buttons div {
  border: 2px solid #4ad295;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 20px;
  transition: all 0.4s ease;
}
.content #projects .projects-container .right-project-container .single-project .description-container .project-buttons div a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #4ad295;
  text-decoration: none;
}
.content #projects .projects-container .right-project-container .single-project .description-container .project-buttons div:hover {
  background-color: #404041;
  box-shadow: 0px 0px 10px #4ad295;
  border: 2px solid #404041;
}
.content #projects .projects-container .right-project-container .single-project .description-container .project-buttons div:hover a {
  color: white;
}
.content #projects .projects-container .right-project-container .single-project .description-container .project-buttons div:active {
  transform: translateY(3px);
  box-shadow: none;
}
.content #projects .projects-container .right-project-container .single-project .description-container .technology-header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 5px;
}
.content #projects .projects-container .right-project-container .single-project .description-container .technology-list {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: row;
}
.content #projects .projects-container .right-project-container .single-project .description-container .technology-list div {
  margin-right: 5px;
}
.content #blog {
  background-color: #272727;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 20px;
}
.content #blog .featured-blog {
  background-color: #404041;
  align-self: center;
  width: fit-content;
  max-width: 1000px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
}
.content #blog .single-projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10px;
}
.content #blog .single-projects-container .single-blog {
  background-color: #404041;
  padding: 20px;
  width: fit-content;
  max-width: 400px;
  border-radius: 5px;
}
.content #blog .single-projects-container .single-blog img {
  max-height: 200px;
}
.content #blog .blog-item img {
  align-self: center;
  max-width: 100%;
}
.content #blog .blog-item .blog-content .title-row {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.content #blog .blog-item .blog-content .title-row .blog-title {
  color: #4ad295;
}
.content #blog .blog-item .blog-content .tag-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
}
.content #blog .blog-item .blog-content .tag-list .tag-item {
  border: 1px solid #4ad295;
  border-radius: 5px;
  padding: 5px 10px;
  list-style: none;
  margin-right: 10px;
}
.content #blog .blog-item .blog-content .blog-text {
  margin: 10px 0;
}
.content #blog .blog-item .blog-content .blog-text a {
  color: #4ad295;
  text-decoration: none;
}
.content #contact {
  background-color: #1e1e1e;
}

/*# sourceMappingURL=style.css.map */
